@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  .bg-main-dark {
    background-color: rgb(4, 1, 37);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: radial-gradient(
        at 40% 20%,
        hsla(269, 37%, 13%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 80% 0%, rgb(34, 13, 53) 0px, transparent 50%),
      radial-gradient(at 0% 50%, rgb(18, 22, 78) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgb(47, 13, 87) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgb(34, 22, 48) 0px, transparent 50%),
      radial-gradient(at 80% 100%, rgb(68, 27, 80) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgb(15, 31, 56) 0px, transparent 50%);
  }
  .bg-main-light {
    background-color: #bfdbfe;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: radial-gradient(at 40% 20%, #e0f2fe 0px, transparent 50%),
      radial-gradient(at 80% 0%, #f3e8ff 0px, transparent 50%),
      radial-gradient(at 0% 50%, #ede9fe 0px, transparent 50%),
      radial-gradient(at 80% 50%, #ddd6fe 0px, transparent 50%),
      radial-gradient(at 0% 100%, #dbeafe 0px, transparent 50%),
      radial-gradient(at 80% 100%, #cffafe 0px, transparent 50%),
      radial-gradient(at 0% 0%, #e0f2fe 0px, transparent 50%);
  }
  .bg-nav {
    background: #00000000 !important;
  }
}